<meta charset="utf-8" />

<head>
    <link rel="stylesheet" href="styles.css">
</head>


<main>

    <header>
        <div class="key-item" style="margin: 0 auto; background: linear-gradient(var(--background), var(--secondary)) padding-box,
              linear-gradient(to right, var(--accent), var(--primary)) border-box;">
            <h1>This is the <span class="text-grad">Verocity</span> DocSheet</h1>
            <small class="text-grad">A Void-Team Project</small>
        </div>
    </header>

    <div style="display: flex; justify-content: center; padding: 20px">

        <p>
          This is <span class="text-grad">Verocity</span>, a Physics based combat simulation made in Godot 4. It consists of some basic building blocks that combine into limitless moves and combinations. Each action has abilities that adhere to these 3 crucial pillars
          
        </p>
    </div>
  <div class="carousel"> 
    <div class="key-item item-centered">
      <h4 style="color:var(--primary)">Movement</h4>
    </div>
    
    <div class="key-item item-centered">
      <h4 style="color: var(--tertiary)">Attack</h4>
    </div>
    
    <div class="key-item item-centered">
      <h4 style="color:var(--primary)">Defense</h4>
    </div>
    
  </div>
  
  <section class="key-item", style="background: linear-gradient(var(--background), var(--secondary)) padding-box,
              linear-gradient(to right, var(--accent), var(--tertiary)) border-box;">
    <h2>Key Component</h2>
    
    <p>There is <span class="text-grad">one key component</span> that goes into every action you perform.
      
    <h3 class="text-grad">Velocity</h3>
    <p>Each Action can cause damage that is affected by Velocity. There are 3 velocity ranges.</p>
    <div class="carousel"> 
      <div class="key-item item-centered">
        <h4>Slow</h4>
        <p>This is the Velocity range where actions won't do any damage.</p>
      </div>
      

      <div class="key-item item-centered">
        <h4>Normal</h4>
        <p>This Velocity Range does the Normal Amount of damage, scaling damage from a base velocity number.</p>
      </div>

      <div class="key-item item-centered">
        <h4>Critical</h4>
        <p>This is the velocity that does an ABSURDLY HIGH amount of damage. But it also has a chance of unintended effects.</p>
      </div>
    </div>
   <p>Velocity can be saved into Velocity Charges, which will be explained later.
  </section>
  
  <section>
    <p>There are 10 utilities available to you; Walk, Run, Dash, Jump, Punch, Shield, Zipline, Sword, Suspend, and Charge.</p>
    <h3 class="text-grad">Movement</h3>
    <p>You have all your normal movement actions, such as Walking, Running, Dashing, and Jumping. The character's movement can do damage if it accelerates to a value higher than the dashing velocity. </p>
    <h3 class="text-grad">Hands</h3>
    <p>Your hands have the ability to Punch stuff, dealing direct damage. Your hands also have a shield. This shield can be used to reflect attacks. Your left hand has a multitool with a zipline and a suspend module.</p>
    <h4 class="text-grad">Zipline</h4>
    <p>Your zipline can be used to quickly zip accoss the map. It's claw head has velocity. The Zip Line itself can be cut with swords. It can also slow down objects that hit it. It can also bounce objects. Ziplines can be used as tightropes, the rope material is bouncy. </p>
    <h4 class="text-grad">Suspend</h4>
    <p>The Suspend Module can be used to "Suspend" an object's velocity, freezing it in midair until the charge is collapsed. Suspensions work by using a suspension ring which draws from the module. Suspension rings expand in size the longer the suspend button is held, but it draws from the module's charge. Anything moving that gets caught in the Suspension ring will be frozen, as its velocity gets stored. You can them modify a suspended object's velocity by attacking it. Suspension rings fade back into the suspend module over time.</p>
    <h3 class="text-grad">Sword</h3>
    <p>It's a sword. I don't know what you expect. You swing it and it does damage. You parry other swords by blocking the other sword's blade. There's a slot for velocity charges at the bottom, but this sword is as sword as it gets.</p>
    
    <h3 class="text-grad">Charges</h3>
    <p>Velocity Charges are devices that you can use to store velocity from attacks to your shield. You have 2 velocity charges on your waist. You can attach charges to your shield module. These charges then become volatile. Volatile charges can be used by your shield to expel velocity on demand, by your sword to increase the velocity registered, inside of your suspension module as extra energy, and more. Volatile Charges have 2 forms, <span style="color: var(--tertiary)">Absolute</span> and <span style="color: var(--accent)">Direct.</span> <span style="color: var(--tertiary)">Absolute charges</span> remove the directionality of the velocity, instead opting to be omnidirectional. <span style="color: var(--accent)">Direct charges</span> keep the direction of the velocity registered.</p>
    
      
  

</main>

<footer>
    <small style="padding: 20px"> Contact Me! - jd@void-team.com </small>
</footer>