:root {
    --text: #ffffff;
    --background: #121a1d;
    --primary: #85f9f0;
    --secondary: #161616;
    --tertiary: #fad648;
    --accent: #a12463;
    
}

/* Inter and Poppins */

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    text-align: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: var(--text);
}

html { /* 16px */
    font-size: 100%;
}

/* 16px */
h1 { /* 67.36px */
    font-size: 4.21rem; /* 67.36px */
}

h2 {  /* 50.56px */
    font-size: 3.158rem; /* 50.56px */
}
h3 { /* 37.92px */
    font-size: 2.369rem; /* 37.92px */
}
h4 {/* 28.48px */
    font-size: 1.777rem; /* 28.48px */
}

h5 { /* 21.28px */ 
    font-size: 1.333rem; /* 21.28px */
}
small { /* 12px */
    font-size: 0.75rem; /* 12px */
}

.text-grad {
    color: transparent;
    background: linear-gradient(to bottom right, var(--primary), var(--accent));
    -webkit-background-clip: text;
}

.key-item {
    border: 4px solid transparent;
    background: linear-gradient(var(--background), var(--secondary)) padding-box,
              linear-gradient(to right, var(--accent), var(--primary)) border-box;
    border-radius: 25px;
    padding: 20px;
}

.item-centered {
    padding: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.carousel {
    padding: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}
div.carousel > *:not(last-child) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
button {
  background-color: var(--primary);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
button:hover {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 30px var(--primary);
  transition: all 0.2s ease-in-out;
}

    
aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: var(--accent);
}

aside > p {
  margin: 0.5rem;
}