<meta charset="utf-8" />

<head>
    <link rel="stylesheet" href="styles.css">
</head>


<h1>Privacy Policy</h1>

Last Updated: December 10th, 2023

This Privacy Policy explains how I, Jaiden Williams (” I,” my,” me”) collect, use, and disclose information through my website, verocity.void-team.com

I may change this Privacy Policy from time to time. If I make changes, I will notify you by revising the date at the top of the policy and, in some cases, I may provide you with additional notice (such as adding a statement to our homepage or sending you a notification). I encourage you to review the Privacy Policy whenever you access the Services or otherwise interact with us to stay informed about our information practices and the choices available to you.
<h2>Collection of Information</h2>
<h3>Information You Provide to Us</h3>

TBD